

.entity-name {
    color: #CA8787;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #CA8787;
    padding-bottom: 5px;
}

.header-divider {
    width: 50%;
    border: 1px solid #CA8787;
    margin: 0 auto 40px auto;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
    border-radius: 15px;
}

.btn-primary {
    background-color: #CA8787;
    border: none;
}

.btn-primary:hover {
    background-color: #b36969;
}

.btn-outline-secondary {
    border-color: #CA8787;
    color: #CA8787;
}

.btn-outline-secondary:hover {
    background-color: #CA8787;
    color: white;
}

.header-container {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #ffd0d034;
}

.list-group-item a {
    color: #CA8787 !important;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.user-icon {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    background-color: #ca8787;
}


.btn-link {
    text-decoration: none;
    color: #CA8787;
}

.btn-link:hover {
    text-decoration: underline;
    color: #E1ACAC;
}

.card-header {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

h3 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #000;
}

h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #CA8787;
    z-index: -1;
}

.mt-3 a {
    color: #CA8787;
    text-decoration: none;
}

.mt-3 a:hover {
    text-decoration: underline;
    color: #b36969; 
}

.star {
    color: gold;
    font-size: 2em; 
    display: inline-block; 
    margin-right: 2px; 
}

.star.filled {
    
    color: gold; 
}

.star.empty {
    color: lightgray;
}

