{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="spacer"></div>
{% if messages %}
<div class="message-container mt-4">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">YOUR CART</h2>
    <hr class="mb-4">
    {% if cart.services or cart.packages %}

    {% if cart.services %}
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="mb-0">SERVICES</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date and Time</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.services %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <form id="form_{{ item.service.id }}" method="POST"
                                action="{% url 'cart:edit_cart_item' item.service.id %}">
                                {% csrf_token %}
                                <input id="date_{{ item.service.id }}" type="date" name="date" value="{{ item.date }}"
                                    class="form-control booking-date" required>
                                <input type="hidden" name="service_id" value="{{ item.service.id }}">
                                <select id="booking_time_{{ item.service.id }}" name="time"
                                    class="form-control booking-time" required>
                                    <option value="{{ item.time }}" selected>{{ item.time }}</option>
                                </select>
                        </td>
                        <td>${{ item.price }}</td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-custom">Save Changes</button>
                            <a href="#" class="btn btn-sm btn-danger remove-link"
                                data-url="{% url 'cart:remove_from_cart' 'service' item.service.id %}">Remove</a>
                        </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if cart.packages %}
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="mb-0">PACKAGES</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.packages %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>${{ item.price }}</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-danger remove-link"
                                data-url="{% url 'cart:remove_from_cart' 'package' item.package.id %}">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="text-right">
        <h3 class="total-price">Total: ${{ total }}</h3>
        <a href="{% url 'checkout:checkout' %}" class="btn btn-lg btn-custom">Proceed to Checkout</a>
    </div>

    {% else %}
    <div class="alert alert-warning empty-cart-alert mt-5" role="alert">
        Your cart is empty.
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'cart/js/cart.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.remove-link').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const url = this.getAttribute('data-url');
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You won’t be able to revert this!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#CA8787',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>
{% endblock %}