{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="spacer"></div>

<div class="container mb-4 mt-4">
    <div>
        <h2 class="mb-2">My Profile</h2>
    </div>
    <div class="card">

        <div class="card-body">
            <div class="row mb-5">
                <div class="col-12">
                    <p class="text-muted">Phone Number</p>
                    <form class="mt-3 d-flex align-items-center" action="{% url 'profiles:profile' %}" method="POST"
                        id="profile-update-form">
                        {% csrf_token %}
                        <div class="form-group rounded mb-0 mr-3 flex-grow-1">
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-black">Update Phone Number</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-muted">Booking History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Booking Number</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Total Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profiles:order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for booking in order.bookings.all %}
                                            <li>
                                                {% if booking.service %}
                                                <p><strong>Service:</strong> {{ booking.service.name }}</p>
                                                <p><strong>Date:</strong> {{ booking.date }}</p>
                                                <p><strong>Time:</strong> {{ booking.time }}</p>
                                                <p><strong>Price:</strong> ${{ booking.get_total_cost }}</p>
                                                {% elif booking.package %}
                                                <p><strong>Package:</strong> {{ booking.package.name }}</p>
                                                <p><strong>Price:</strong> ${{ booking.get_total_cost }}</p>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <hr>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}