{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% if messages %}
<div class="message-container mt-4">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="container checkout-container my-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div class="order-summary p-4 bg-light rounded shadow-sm">
                <h2 class="mb-4 text-center">Booking Details</h2>
                <hr>
                <ul class="list-unstyled">
                    {% for item in cart %}
                    <li class="mb-3 d-flex flex-column">
                        <div class="item-detail">
                            {% if item.type == "service" %}
                            <strong> Service:</strong> {{ item.name }}<br>
                            <strong>Description:</strong> {{ item.description }}<br>
                            <strong>Date:</strong> {{ item.date }}<br>
                            <strong>Time:</strong> {{ item.time }}<br>
                            {% elif item.type == "package" %}
                            <strong>Package:</strong> {{ item.name }}<br>
                            <strong>Description:</strong> {{ item.description }}<br>
                            {% endif %}
                        </div>
                        <div class="item-price align-self-end">
                            <strong>Price:</strong> ${{ item.price }}
                        </div>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
                <h3 class="mt-4 text-right">Total: ${{ total }}</h3>
            </div>
        </div>
        <div class="col-md-6">

            <div class="order-form p-4 bg-light rounded shadow-sm">
                <h2 class="mb-4 text-center">Client Details</h2>
                <hr>
                <p class="text-muted text-center">Please fill out the form below to complete your booking</p>
                <form id="payment-form" method="post" action="{% url 'checkout:checkout' %}">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>

                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label text-muted save-info-label" for="id-save-info">Save this information for
                            future bookings</label>
                        <input class="form-check-input ml-2 mr-0 save-info-checkbox" type="checkbox" id="id-save-info"
                            name="save-info" checked>
                        {% else %}
                        <label class="form-check-label">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                    <br>
                    <input type="hidden" name="client_secret" value="{{ client_secret }}">

                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>

                        <div class="mb-3" id="card-element"></div>

                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'cart:view_cart' %}" class="btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-black rounded">
                            <span class="font-weight-bold">Complete Booking</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

<!-- JavaScript to set save_info field based on user interaction -->
<script>
    const saveInfoCheckbox = document.querySelector('#id-save-info');

    if (saveInfoCheckbox) {
        saveInfoCheckbox.addEventListener('change', function () {
            document.querySelector('#id_save_info').value = this.checked ? 'true' : 'false';
        });
    }
</script>
{% endblock %}