#profile-update-form .form-control {
    color: #000;
    border-radius: 5px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.card-header {
    background-color: #ffd0d068;
    color: #CA8787;
    font-weight: bold;
    text-align: center;
}

.profile-info {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}


.profile-info p,
label {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    line-height: 1.5;
}


.profile-info strong {
    color: #CA8787;
    font-weight: 600;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group .btn {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .form-group .form-control {
        margin-right: 0;
    }
}

.text-muted {
    font-size: 1.1rem;
}

.order-history table {
    margin-top: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
}

.order-history th {
    background-color: #CA8787;
    color: #fff;
}

.order-history td,
.order-history th {
    padding: 1rem;
    vertical-align: middle;
}

.order-history a {
    color: #CA8787;
    text-decoration: none;
}

.order-history a:hover {
    text-decoration: underline;
}

.order-history ul {
    margin-bottom: 0;
}

.spacer {
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
        margin-top: 15px;
    }

    .card-header h2 {
        font-size: 1.5rem;
    }

    .btn-black {
        width: 100%;
        margin-top: 10px;
    }

    .order-history table {
        font-size: 0.8rem;
    }
}


h2 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #000;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #CA8787;
    z-index: -1;
}

h3 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #000;
}

h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #CA8787;
    z-index: -1;
}
