#profile-update-form .form-control {
    color: #000;
    border-radius: 5px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.card-header {
    background-color: #ffd0d068;
    color: #CA8787;
    font-weight: bold;
    text-align: center;
}


.text-muted {
    font-size: 1.1rem;
}

.order-history table {
    margin-top: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
}

.order-history th {
    background-color: #CA8787;
    color: #fff;
}

.order-history td,
.order-history th {
    padding: 1rem;
    vertical-align: middle;
}

.order-history a {
    color: #CA8787;
    text-decoration: none;
}

.order-history a:hover {
    text-decoration: underline;
}

.order-history ul {
    margin-bottom: 0;
}

.spacer {
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
        margin-top: 15px;
    }

    .card-header h2 {
        font-size: 1.5rem;
    }

    .btn-black {
        width: 100%;
        margin-top: 10px;
    }

    .order-history table {
        font-size: 0.9rem;
    }
}


h2 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #000;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #CA8787;
    z-index: -1;
}