.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height:5px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    
}

.table th {
    background-color: #E1ACAC;
    color: #fff;
    font-weight: bold;
    border: 1px solid #FFD0D0;
    padding: 10px;
    text-align: center;
}
.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #FFD0D0;
   
}

.table td {
    padding: 10px;
    vertical-align: top;
    border: 1px solid #FFD0D0;
}

.btn {
    background-color:#E1ACAC;
    border-color: #E1ACAC;
    margin: 2px;
    color: #fff;
}
.btn:hover {
    background-color:#A87676;
    border-color:#A87676;
}



