
.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 1050;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th {
    background-color: #E1ACAC;
    color: #fff;
    font-weight: bold;
    border: 1px solid #FFD0D0;
    padding: 10px;
    text-align: center;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border: 1px solid #FFD0D0;
}

.table td {
    padding: 10px;
    vertical-align: middle;
}

.table button,
.table a {
    background-color: #CA8787;
    margin: 2px;
    color: #fff;
}

.table button:hover,
.table a:hover {
    background-color: #A87676;
    color: #fff;
}


.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header,
.card-footer {
    background-color: #f8f9fa;
}


.btn-custom {
    background-color: #CA8787;
    color: #fff;
}

.btn-custom:hover {
    background-color: #A87676;
    color: #fff;
}

.total-price {
    font-size: 1.5rem;
    color: #A87676;
    font-weight: bold;
    text-align: right;
}

.empty-cart-alert {
    background-color: #A87676;
    color: #fff;
    border-color: #E1ACAC;
}

.btn {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

h4 {
    color: #CA8787;
}


@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .table th,
    .table td {
        font-size: 0.875rem;
    }

    .btn-custom,
    .empty-cart-alert {
        font-size: 1.25rem;
        text-align: center;
    }

    .text-right {
        text-align: center;
    }

    .table button,
    .table a {
        width: 100%;
        margin: 5px 0;
    }
}


@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .table th,
    .table td {
        font-size: 0.75rem;
    }

    .btn-custom,
    .total-price,
    .empty-cart-alert {
        font-size: 1rem;
    }

    .card-header h4 {
        font-size: 1rem;
    }

    .message-container {
        top: 60px;
        right: 10px;
    }
}