<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
               <a href="{% url 'services:all_services' %}?category=Hair" class="dropdown-item">Hair</a>
               <a href="{% url 'services:all_services' %}?category=Facial" class="dropdown-item">Facial</a>
               <a href="{% url 'services:all_services' %}?category=Nails" class="dropdown-item">Nails</a>
               <a href="{% url 'services:all_services' %}?category=Makeup" class="dropdown-item">Make Up</a>
               <a href="{% url 'services:all_services' %}" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Packages
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Promotions
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Reviews
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">
               Gift Card
            </a>
        </li>
    </ul>
</div>
