{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/service_management.css' %}">
{% endblock %}

{% block content %}
<div class="spacer"></div>
<div class="col text-center">
    <h2 class="logo-font mt-4 mb-4">Edit Staff Member</h2>
    <hr class="w-50 mx-auto mb-5">
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="col-12">
                <h3 class="section-heading">Edit {{ staff_member.name }}</h3>
            </div>
            <div class="card">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'photo' %}
                            {{ field|as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right mt-4">
                        <a class="btn btn-outline-black mr-2" href="{% url 'team:team_list' %}">Cancel</a>
                        <button class="btn btn-black" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log('jQuery is ready');
        $('#new-image').change(function () {
            var file = this.files[0];
            if (file) {
                $('#filename').text(`Image will be set to: ${file.name}`);
            } else {
                $('#filename').text('No file chosen');
            }
        });
    });
</script>
{% endblock %}
