{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Link to custom CSS for service management -->
<link rel="stylesheet" href="{% static 'services/css/service_management.css' %}">
{% endblock %}

{% block content %}
<!-- Spacer to separate the header from the content -->
<div class="spacer"></div>

<!-- Title and separator for the page -->
<div class="col text-center">
    <h2 class="text-center mb-2 mt-4 logo-font">Service Management</h2>
    <hr class="w-50 mx-auto mb-5">
</div>

<!-- Container for the form to add a new service -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <!-- Heading for the add service section -->
            <div class="col-12 col-md-8 col-lg-6">
                <h3 class="section-heading">Add a Service</h3>
            </div>

            <!-- Card containing the form to add a new service -->
            <div class="card mb-4">
                <form method="POST" action="{% url 'services:add_service' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Render form fields -->
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field|as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    
                    <!-- Buttons for cancelling or submitting the form -->
                    <div class="text-right mt-4">
                        <a class="btn btn-outline-black mr-2" href="{% url 'services:all_services' %}">Cancel</a>
                        <button class="btn btn-black" type="submit">Add Service</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'services/js/edit_services.js' %}"></script>
{% endblock %}
