{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="spacer"></div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="service-image">
                {% if service.image %}
                <img class="img-fluid rounded" src="{{ service.image.url }}" alt="{{ service.name }}">
                {% else %}
                <img class="img-fluid rounded" src="{% static 'images/noimage.png' %}" alt="{{ service.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 details">
            <div class="service-details">

                <form id="bookingForm" method="POST" action="{% url 'cart:add_to_cart' service.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="service_id" value="{{ service.id }}">

                    <h2 class="font-weight-bold mb-4">{{ service.name }}</h2>
                    <hr>
                    <p class="text-muted">{{ service.description }}</p>
                    <div class="service-meta mt-4">
                        <p><strong>Price:</strong> ${{ service.price }}</p>
                        <p><strong>Duration:</strong> {{ service.duration }} minutes</p>
                        {% if service.rating %}
                        <p><strong>Rating:</strong> {{ service.rating }}/5</p>
                        {% else %}
                        <p><strong>Rating:</strong> No Rating</p>
                        {% endif %}
                    </div>

                    <div class="form-group mb-4">
                        <label for="booking_date">Select Date:</label>
                        <input type="date" id="booking_date" name="date" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="booking_time">Available Times:</label>
                        <select id="booking_time" name="time" class="form-control" required>
                            <option value="" disabled selected>Select a time</option>
                        </select>
                    </div>

                    <div id="additionalServiceContainer" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="service-selection">
                                    <div class="form-group mb-4">
                                        <label for="service_select">Select Another Service:</label>
                                        <select id="service_select" name="additional_service" class="form-control">
                                            <option value="" disabled selected>Select a service</option>
                                            {% for additional_service in additional_services %}
                                            <option value="{{ additional_service.id }}">
                                                {{ additional_service.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="additional_booking_date">Select Date:</label>
                                        <input type="date" id="additional_booking_date" name="additional_booking_date"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="additional_booking_time">Available Times:</label>
                                        <select id="additional_booking_time" name="additional_booking_time"
                                            class="form-control">
                                            <option value="" disabled selected>Select a time</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" id="toggleAdditionalService" class="btn btn-secondary mt-4">Add Another
                        Service</button>
                    <button type="submit" class="btn btn-primary mt-4 ml-2">Add to Cart</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function fetchAvailableAndBookedTimes(serviceId, date, timeSelectElement) {
        var availableTimesUrl = "{% url 'services:get_available_times' 0 %}".replace('0', serviceId) + "?booking_date=" +
            date;
        var bookedTimesUrl = "{% url 'services:get_booked_times' 0 %}".replace('0', serviceId) + "?booking_date=" +
            date;

        fetch(availableTimesUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                fetch(bookedTimesUrl)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(bookedTimesData => {
                        var availableTimes = data.available_times;
                        var bookedTimes = bookedTimesData.booked_times;

                        var filteredTimes = availableTimes.filter(time => {
                            return !bookedTimes.some(bookedTime => bookedTime.includes(time));
                        });

                        timeSelectElement.innerHTML =
                            '<option value="" disabled selected>Select a time</option>';

                        filteredTimes.forEach(function (timeSlot) {
                            var option = document.createElement('option');
                            option.value = timeSlot;
                            option.textContent = timeSlot;
                            timeSelectElement.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching booked times:', error);
                    });
            })
            .catch(error => {
                console.error('Error fetching available times:', error);
            });
    }

    document.getElementById('booking_date').addEventListener('change', function (event) {
        var bookingDate = event.target.value;
        var serviceId = "{{ service.id }}";
        var timesSelect = document.getElementById('booking_time');
        fetchAvailableAndBookedTimes(serviceId, bookingDate, timesSelect);
    });

    document.getElementById('additional_booking_date').addEventListener('change', function (event) {
        var bookingDate = event.target.value;
        var serviceId = document.getElementById('service_select').value;
        var timesSelect = document.getElementById('additional_booking_time');
        fetchAvailableAndBookedTimes(serviceId, bookingDate, timesSelect);
    });

    document.getElementById('service_select').addEventListener('change', function (event) {
        var bookingDate = document.getElementById('additional_booking_date').value;
        if (bookingDate) {
            var serviceId = event.target.value;
            var timesSelect = document.getElementById('additional_booking_time');
            fetchAvailableAndBookedTimes(serviceId, bookingDate, timesSelect);
        }
    });


    document.getElementById('toggleAdditionalService').addEventListener('click', function (event) {
        var additionalServiceContainer = document.getElementById('additionalServiceContainer');
        if (additionalServiceContainer.style.display === 'none') {
            additionalServiceContainer.style.display = 'block';
            event.target.textContent = 'Cancel Adding';
        } else {
            additionalServiceContainer.style.display = 'none';
            event.target.textContent = 'Add Another Service';
        }
    });
</script>

{% endblock %}
